.thumbnail {
  &.margin {
    margin-bottom: 1.8em;
  }
}

.thumbnail-header {
  padding: .5rem .5em;
  position: absolute;
  top: 0;
  left: 0;
  font: 1em $font-headline-light;
  z-index: 1;
}

.entry-content {
  position: relative;
}

.thumbnail-hover {
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  transition: .3s ease-in-out;
  opacity: 0;
  &:hover {
    opacity: 1;
    color: inherit;
  }
}

