$s-serif: sans-serif;
$serif: serif;
$font-main: 1em "Oswald-Regular", sans-serif;
$font-headline-light: "Oswald-Light", sans-serif;
$font-headline-bold: "Oswald-Bold", sans-serif;
$font-text: "ArialMT", sans-serif;
$font-text-bold: "Arial-BoldMT", sans-serif;
$font-headlines: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;